.recipe_tile_container {
    display: flex;
    overflow: auto;
    width: 100%;
}

.recipe_tile_category_container {
    margin: 0 auto;
    max-width: 1100px;
    margin: 50px auto;
    position: relative;
}

.recipe_tile_category_container_inner {
    margin: 50px;
}

/* .recipe_tile_container::after {
    box-shadow: inset -50px 0px 50px white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
} */

.main_image {
    width: 100%;
    height: 530px;
    object-fit: cover;
}

.main_image_text {
    position: absolute;
    background-color: white;
    width: 424px;
    height: 125px;
    top: 15px;
    left: 20px;
    box-sizing: content-box;
    padding: 20px 20px 10px;
}

.main_image_text > * {
    margin-top: 0;
}

.main_image_text > h2 {
    font-size: 33px;
}

.main_image_text > p {
    font-size: 22px;
}

.header_image_container {
    position: relative;
}

@media screen and (max-width: 1024px) {
    .recipe_tile_category_container{
        max-width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .recipe_tile_category_container{
        max-width: 700px;
    }

    .header_image_container{
        margin: 0 auto;
        max-width: 600px;
    }

    .main_image {
        height: 300px;
    }

    .main_image_text {
        width: 350px;
        height: 100px;
        top: 15px;
        left: 15px;;
    }

    .main_image_text > h2 {
        font-size: 22px;
    }

    .main_image_text > p {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    .recipe_tile_category_container{
        margin: 50px;
    }

    .recipe_tile_category_container_inner{
        text-align: center;
        max-width: 100%;
        overflow: auto;
    }

    .header_image_container {
        width: 100%;
    }

    .main_image_text {
        width: 300px;
        height: 100px;
        top: 15px;
        left: 15px;;
    }

    .main_image_text > h2 {
        font-size: 22px;
    }

    .main_image_text > p {
        font-size: 16px;
    }

}

@media screen and (max-width: 480px) {

    .recipe_tile_container{
        justify-content: flex-start;
        margin: 15px auto;
    }
    .recipe_tile_category_container{
        margin: 10px auto;
        width: 100%;
    }
    .recipe_tile_category_container_inner{
        margin: 0;
        margin-right: 15px;
        max-width: 100%;
    }

    .recipe_tile_category_container_inner > h2 {
        text-align: center;
    }

    .header_image_container{
        margin: 0 auto;
        width: 100vw;
    }

    .main_image {
        /* height: 300px; */
        width: 100vw;
    }

    .main_image_text > h2 {
        font-size: 22px;
    }

    .main_image_text > p {
        font-size: 16px;
    }
}
