.header_image_title,
.body_prep_time_bio {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    gap: 50px;
}



.single_preview_image {
    width: 60%;
}

.single_preview_image > * {
    width: 100%;
}

.single_title_owner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 2px solid black;
    width: 40%;
}

.single_owner {
    text-decoration: underline;
}

.body_prep_time_bio {
    margin-top: 50px;
}

.prep_time_bio_left {
    width: 40%
}

.prep_time_bio_right {
    width: 60%;
}

.cook_times {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cook_times > * > *,
span > h3 {
    margin: 0;
}


.time_format {
    display: flex;
    align-items: center;
    gap: 25px;
}
