.reviews_container {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

.review_headers {
    margin: 5px 0;
}

.review_left {
    border-top: 5px solid black;
    width: 40%;
}

.review_right {
    display: flex;
    flex-direction: column;
    border-top: 5px solid black;
    width: 60%;
}

.ratings_container {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.reviews_out_of {
    margin: 4px 0 ;
}

.reviews_out_of_p {
    color: #717171;
}

.ratings_star {
    font-size: 35px;
}

.your_rating {
    color: #DF321B;
    cursor: pointer;
}

.your_rating2 {
    color: #CCCCCC;
    cursor: pointer;
}

.your_rating_clear {
    display: flex;
    justify-content: space-between;
}

.your_rating_clear > span:hover,
.submit_review_container > span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.your_rating_stars {
    font-size: 35px;
}

.post_review_title {
    margin-bottom: 10px;
}

.post_review {
    resize: none;
    width: 97%;
    min-height: 150px;
    padding: 10px;
}

.submit_review_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 97%;
    padding: 10px
}

.submit_review {
    cursor: pointer;
    border: 1px solid lightgray;
    background-color: transparent;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    transition: background-color .25s;
}

.submit_review:hover {
    background-color: lightgray;
}

.review_container {
    border-top: 1px solid lightgray;
    margin-top: 50px;
    padding-top: 15px;
}

.review {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

.review > * {
    padding: 0;
    margin: 15px 0;
}

.is_this_helpful_container {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.is_this_helpful_container:hover {
    color: #DD1D00
}

.is_this_helpful_text {
    text-decoration: underline;
}
