@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes backgroundColor {
    from { background-color: none;}
    to { background-color: black;}
}

@keyframes backgroundColorClose {
    from { background-color: black;}
    to { background-color: none;}
}

.background_color_pref {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    opacity: .5;
    animation: backgroundColor .2s;
    -webkit-animation-fill-mode: forwards;
}
.background_color_pref2 {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    opacity: .5;
    animation: backgroundColorClose .2s;
    -webkit-animation-fill-mode: forwards;
}

.preferences_modal_container {
    position: fixed;
    right: 0px;
    height: 100vh;
    bottom: 0px;
    width: 325px;
    background-color: white;
    opacity: 1;
    padding: 0 15px;
    overflow: scroll;
    animation: slideIn .4s;
}
.preferences_modal_container2 {
    position: fixed;
    right: 0px;
    height: 100vh;
    bottom: 0px;
    width: 325px;
    background-color: white;
    opacity: 1;
    padding: 0 15px;
    overflow: scroll;
    animation: slideOut .4s;
    -webkit-animation-fill-mode: forwards;
}

.user_pref_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

.exit_pref {
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}

.exit_pref:hover {
    background-color: #EEEEEE;
}

.create_recipe,
.your_recipes {
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.logout_button {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    width: fit-content
}

.logout_button:hover {
    text-decoration: none;
    color: #9F9F9F;
}

.logout_button:active {
    color: #CF1A00
}

.user_info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.user_profile_pic {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
}
